params {
    //model_version = "/TEM/"          
    //model_version = "/TEM_surrogate/"
    //model_version = "/GRU/"          
    //model_version = "/Pretrain/"     
    //model_version = "/Domain_adapt/"  
    //model_version = "/Mixed/"        
    //model_version = "/Model_stacking/"   
    //model_version = "/GRU_CNN/"      
    //model_version = "/Pretrain_CNN/" 
    //model_version = "/Mixed_CNN/"    
    model_version = "/Model_stacking_CNN/"  //CHANGE
    workdir    = 'temp_wd'  // CHANGE
    repo       = "/path/to/wetland_methane_ML/"  // CHANGE
    conda.cacheDir = '/path/to/(big)_cache_dir/'  // CHANGE
    num_sites = 43
    num_reps  = 100
}

executor.$slurm.queueSize = 1
conda.enabled = true
conda.useMamba = true

process {
//    executor = 'local'
    name = 'slurm'
    memory = '10 GB'
    cpus = 1
    time = '00:10:00'    
}
